<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Template">
<head>
<meta charset="UTF-8" />
	<title>Cadastro de Títulos</title>
</head>
<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img alt="Brand"
					th:src="@{/images/logo.gif}" />
				</a>
			</div>
		</div>
	</nav>
</html>